.virus {
    left: 10px;
    position: absolute;
}

.virus.virus-snake {
    width: 57px;
}

.virus.virus-cucumber {
    width: 60px;
}

.virus.virus-tenticle {
    width: 60px;
}

#toolbar {
    fill: pink;
    position: relative;
    z-index: -10;
}


.soldier-option {
    position: absolute;
}

#person-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
