.virus {
    left: 10px;
    position: absolute;
}

.virus.virus-snake {
    width: 57px;
}

.virus.virus-cucumber {
    width: 60px;
}

.virus.virus-tenticle {
    width: 60px;
}

#toolbar {
    position: relative;
    z-index: -10;
}


.soldier-option {
    position: absolute;
}